*{
    padding: 0;
    margin: 0;
}
body{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: black;
   padding-top: 45px;


}

.container{
    background-color: rgb(167, 188, 207);
    height: 420px;
    width: 300px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
 
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  
}

td, th {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid #dddddd;
  text-align: center;
  font-size: 100%;
  

}

tr:nth-child(even) {
  background-color: #dddddd;
}
h2{
 
    display: inline-block;
    border-radius: 6px;
}

input,select{
    padding-top: 50px;
    width: 40%;
    box-sizing: border-box;
    padding: 10px;
    border: none;       
    margin-bottom: 10px;
   
}

#bt{
    
    border-radius: 10px;
    font-size: larger;
}

#rs{
    border-radius: 10px;
    font-size: larger;
}




